    body {
        background-image:url('https://i.pinimg.com/originals/bc/23/b9/bc23b955d467d91ccbcb21ba44dabf17.gif');
        background-size:100%;
        background-repeat: repeat-y;
        background-attachment: fixed;
        height:100%;
        width:100%;
    }

    #learningc{
        position:absolute;
        top: 0;
        right: 27.5%;
        left: 27.5%;
        width: 45%;
    }

    #texto{
        position: absolute;
        top:220px;
        left: 100px;
        right: 100px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        font-size: 3em; color: white;
    }

    #botao{
        position: absolute;
        top:475px;
        right: 44%;
        left: 43%;
        width: 12%;
    }

